{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head">
        <div id="site-head-content" class="inner">
            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img class="logoimg" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">
    <div class="content-wrapper home">
    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}
    <aside class="sidebar home">
            <div class="widget" id="youtube">
                <span class="widget-title">YouTube</span>
                <div class="g-ytsubscribe" data-channel="ipadup" data-layout="full" data-count="default"></div>
            </div>
            <hr class="sidebarhr">
            <div class="widget" id="socials">
                <span class="widget-title">Networks</span>
                <ul>
                    <a href="http://google.com/+TomRich"><li class="gplus-icon"></li></a>
                    <a href="http://twitter.com/tomrich_"><li class="twit-icon"></li></a>
                    <a href="http://facebook.com/ipadup"><li class="fb-icon"></li></a>
                    <a href="http://www.linkedin.com/in/tomianrichardson"><li class="linked-icon"></li></a>
                </ul>
            </div>
            <hr class="sidebarhr">
            <div class="widget" id="sidebar-ad">
                <span class="widget-title">Advert</span>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- BlogTR - Sidebar -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-8488435643016457"
                     data-ad-slot="8502181457"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
    </aside>
    </div>

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>