<header id="site-head">
        <a href="http://blog.tomri.ch" class="all-posts">← All Posts</a>
        <div id="site-head-content" class="inner">
            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img class="logoimg" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        </div>
</header>

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
    <div class="content-wrapper">
        <article class="{{post_class}}">

            {{! Everything inside the #post tags pulls data from the post }}
            {{#post}}

            {{! Everything below outputs content of the the post which has been published }}
            <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}} by <a href="https://plus.google.com/100941137544314243089/?rel=author">Tom Rich</a></span>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

            {{/post}}
            <div><hr /></div>
                <div class="comment">
                <div id="post_{{id}}_comments"></div>
                <script>(function () {var c = document.getElementById('post_{{id}}_comments'),w = c.offsetWidth;c.innerHTML = '<div class="g-comments" data-href="{{@blog.url}}{{url}}" data-width="' + w + '" data-first_party_property="BLOGGER" data-view_type="FILTERED_POSTMOD"></div>';})();</script>
                </div>
        </article>
        <aside class="sidebar">
            <div class="widget" id="youtube">
                <span class="widget-title">YouTube</span>
                <div class="g-ytsubscribe" data-channel="ipadup" data-layout="full" data-count="default"></div>
            </div>
            <hr class="sidebarhr">
            <div class="widget" id="socials">
                <span class="widget-title">Networks</span>
                <ul>
                    <a href="http://google.com/+TomRich"><li class="gplus-icon"></li></a>
                    <a href="http://twitter.com/tomrich_"><li class="twit-icon"></li></a>
                    <a href="http://facebook.com/ipadup"><li class="fb-icon"></li></a>
                    <a href="http://www.linkedin.com/in/tomianrichardson"><li class="linked-icon"></li></a>
                </ul>
            </div>
            <hr class="sidebarhr">
            <div class="widget" id="sidebar-ad">
                <span class="widget-title">Advert</span>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- BlogTR - Sidebar -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-8488435643016457"
                     data-ad-slot="8502181457"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </aside>
    </div>
</main>