<header id="site-head">
        <a href="http://blog.tomri.ch" class="all-posts">← All Posts</a>
        <div id="site-head-content" class="inner">
            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img class="logoimg" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        </div>
</header>

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}} by <a href="https://plus.google.com/100941137544314243089/?rel=author">Tom Rich</a></span>

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        {{/post}}
        <div><hr /></div>
            <div class="shareintro">If you enjoyed this post, please consider sharing it with others.</div>
            <div class='share-button'></div>
        <div><hr class="ads-foot"></div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BlogTR - Footer -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8488435643016457"
                 data-ad-slot="4191673459"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        <hr class="ads-foot-bottom">
        <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'tomrich';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </article>

</main>